NET "clk" LOC = "B8";

NET "led<0>" LOC = "J14";
NET "led<1>" LOC = "J15";
NET "led<2>" LOC = "K15";
NET "led<3>" LOC = "K14";
NET "led<4>" LOC = "E17";
NET "led<5>" LOC = "P15";
NET "led<6>" LOC = "F4";
NET "led<7>" LOC = "R4";

NET "switches<0>" LOC = "G18";
NET "switches<1>" LOC = "H18";
NET "switches<2>" LOC = "K18";
NET "switches<3>" LOC = "K17";
NET "switches<4>" LOC = "L14";
NET "switches<5>" LOC = "L13";
NET "switches<6>" LOC = "N17";
NET "switches<7>" LOC = "R17";
